.classLogo{
  height: 50px;
  vertical-align: middle;
  margin-right: 1.5rem;
}
.container {
  z-index: 0
}
.detailHead{
  margin-bottom: 50px;
}
.addEmp {
  float: right;
  margin-right: 10px !important;
  z-index: 0 !important;
}
.even {
  background-color: lightgrey;
}
.radio-flex{
  flex-direction: row;
}
.popupHead{
  text-align: center;
  font-size: 1.25rem !important;
}
.statusContainer{
  padding: 0;
  max-width: 100% !important;
}